.boton{
    background-color: white;
    color:black;
    border: transparent;
    border-radius: .9rem;
    font-size: 0.5rem;
    padding: .2rem .2rem;
    cursor: pointer;
    margin-left: 20%;
  }