
.position{
  float: left;
  width: 18%;
  margin: 10px;
  margin-left: 100px;
}
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30%;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #030119;
  border-radius: 30%;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: monospace;
}

.favBoton {
  background-color: transparent;
  border: none;
  font-size: 24px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
.closeButton {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.link {
  color:white;
  text-decoration: none !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
   }
